body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: lightgray;
}

.container {
  background-color: white;
  width: 50%;
  height: 80vh;
  margin: 50px auto;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-container {
  width: 50%;
  padding: 5px;
}

.Refreshbtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right-container {
  width: 50%;
  padding: 10px;
}

.right-container form {
  display: flex;
  flex-direction: column;
}

.right-container input {
  padding: 10px;
}

table {
  margin-top: 20px;
  width: 100%;
}

.odd {
  background-color: lightgray;
}

.even {
  background-color: white;
}

.btn-submit {
  width: 90px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
